<app-navbar></app-navbar>

<div class="container" style="margin-top: 2rem; margin-bottom: 5rem;">
  <router-outlet></router-outlet>
</div>

<footer class="footer fixed-bottom mt-auto py-3 bg-dark">
  <div class="container-fluid">
    <div class="row row-cols-2 row-cols-lg-2 g-2 g-lg-2">
      <div class="col text-start">
        <span class="text-muted">Created by knovoa</span>
      </div>
      <div class="col text-end">
        <span class="text-muted">All rights reserved.</span>
      </div>
    </div>
  </div>
</footer>
