/* You can add global styles to this file, and also import other style files */
path[fill='#123456'] {
    display: none !important;
}

.country {
    fill: #b0d0ab;
    stroke: #6cb0e0;
    stroke-width: 0.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

path:hover {
	fill-opacity: .7;
}

div.tooltip {
    position: absolute;
    text-align: center;               
    padding: 2px;             
    font: 12px;        
    background: white;   
    border: 0px;      
    border-radius: 6px;           
    pointer-events: none;         
}
